.intro {
  height: 100vh;
  align-items: center;
  text-align: center;
  background-image: url("/assets/img/background/main-bg-1680.webp");
  background-size: cover;
  background-position: top;

  @include mobile-screen {
    background-image: url("/assets/img/background/main-bg-480.webp");
  }

  .overlay {
    @include size(100%, 100%);
    background-color: rgba(0, 0, 0, .7);
    position: relative;

    .intro-wrapper {
      @include flex(column, center, center);
      margin: 0;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);

      @include tablet-screen {
        width: 100%;
      }

      .title {
        @include font(72px, 600);
        padding: 24px 0;
        max-width: 960px;
        white-space:nowrap;

        @include small-desktop-screen {
          font-size: 68px;
        }

        @include small-tablet-screen {
          font-size: 30px;
        }

        @include mobile-screen {
          @include font(30px, 600);
          padding-inline: 10px;
          letter-spacing: 1px;
          white-space: normal;
        }
      }

      .break-line {
        display: none;

        @include tablet-screen {
          display: block;
        }

        @include small-tablet-screen {
          display: none;
        }
      }

      .description {
        padding: 15px 0 30px;
        font-size: 22px;
        max-width: 960px;
        line-height: 36px;
        font-weight: 300;
        margin: 0;

        @include small-desktop-screen {
          font-size: 20px;
          width: 780px;
        }

        @include tablet-screen {
          font-size: 20px;
          width: 640px;
          padding: 0 20px;
        }

        @include small-tablet-screen {
          font-size: 14px;
          line-height: 30px;
          width: 100%;
        }

        @include mobile-screen {
          line-height: 20px;
        }
      }

      .button-wrapper {
        margin-top: 44px;
        padding: 0 20px;

        @include mobile-screen {
          width: 100%;
        }
      }

      .button {
        @include tablet-screen {
          @include size(220px, 60px);
        }

        @include small-tablet-screen {
          @include size(160px, 60px);
        }

        @include mobile-screen {
          @include size(100%, 60px);
        }
      }
    }
  }
}
