{% assign prefix = site.url | append: '/' | append: site.imgPrefix | append: 'favicon/' %}

<link rel="shortcut icon" href="{{ prefix }}64x64.ico" sizes="64x64">
<link sizes="152x152" rel="apple-touch-icon" href="{{ prefix }}152x152.png"/>
<link rel="apple-touch-icon" href="{{ prefix }}152x152.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ prefix }}152x152.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ prefix }}152x152.png">
<link rel="apple-touch-startup-image" href="{{ prefix }}152x152.png">
<meta name="msapplication-TileImage" content="{{ prefix }}400x400.png">