.post-preview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0;
  text-decoration: none;
  width: 100%;
  max-width: 960px;

  @include tablet-screen {
    max-width: 600px;
  }

  .image {
    @include size(190px, 150px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 40px;
    flex-shrink: 0;
  }

  .title {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.35;

    @include tablet-screen {
      font-size: 22px;
    }

    @include small-tablet-screen {
      font-size: 20px;
    }
  }

  .description {
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    line-height: 1.55;
    margin-top: 8px;

    @include tablet-screen {
      font-size: 12px;
    }
  }

  .date {
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
  }

  & + & {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}
