@import 'mixins';

.advantages {
  background-color: #f5f5f5;

  .content-block {

    .title {
      @include tablet-screen {
        @include font(30px, 600);
      }
    }

    .description {
      @include tablet-screen {
        @include font(20px, 300);
      }
    }
  }

  .advantages-container {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-column-gap: 20px;
    grid-row-gap: 72px;
    margin-top: 80px;

    @include tablet-screen {
      grid-template-columns: repeat(1, 100%);
      margin-top: 60px;
      grid-column-gap: 0;
      grid-row-gap: 36px;
    }

    .advantage {
      display: grid;
      grid-template-columns: 66px repeat(2, 1fr);

      .icon {
        height: 50px;
        width: 50px;
      }

      .adv-title {
        @include font(18px, 600);
        grid-column: 2 / 4;
        display: flex;
        align-items: center;

        @include tablet-screen {
          @include font(14px, 600);
        }
      }

      .adv-description {
        @include font(16px, 300);
        grid-column: 1 / 4;
        grid-row: 2;
        padding-top: 12px;
        text-align: left;
        line-height: 1.55;

        @include tablet-screen {
          @include font(12px, 300);
        }
      }
    }
  }
}
