@import 'mixins';

.advantages {
  background-color: #f5f5f5;

  .content-block {

    .title {
      @include small-desktop-screen {
        @include font(38px, 600);
      }

      @include small-tablet-screen {
        @include font(30px, 600);
      }
    }

    .description {
      @include font(24px, 300);
      line-height: 1.5;
      max-width: 560px;
      margin: 0 auto;

      @include small-desktop-screen {
        @include font(22px, 300);
      }

      @include small-tablet-screen {
        @include font(20px, 300);
      }
    }
  }

  .advantages-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 72px;
    margin: 80px 50px 0;

    @include small-desktop-screen {
      margin: 80px 0 0;
    }

    @include tablet-landscape-screen {
      margin: 80px 20px 0;
    }

    @include tablet-screen {
      grid-template-columns: repeat(1, 100%);
      margin: 60px auto 0;
      grid-column-gap: 0;
      grid-row-gap: 36px;
      max-width: 600px;
    }

    @include small-tablet-screen {
      grid-template-columns: repeat(1, 100%);
      margin-top: 60px;
      grid-column-gap: 0;
      grid-row-gap: 36px;
    }

    .advantage {
      display: grid;
      grid-template-columns: 66px 1fr;
      grid-template-rows: 50px;

      .icon {
        height: 50px;
        width: 50px;
      }

      .adv-title {
        @include font(18px, 600);
        grid-column: 2 / 2;
        display: flex;
        align-items: center;
        max-width: 100%;
        margin: 0;

        @include small-desktop-screen {
          font-size: 16px;
        }

        @include small-tablet-screen {
          font-size: 14px;
        }
      }

      .adv-description {
        @include font(16px, 300);
        grid-column: 1 / 3;
        grid-row: 2;
        padding-top: 12px;
        text-align: left;
        line-height: 1.55;
        max-width: 360px;

        @include small-desktop-screen {
          font-size: 14px;
        }

        @include tablet-screen {
          max-width: 600px;
        }

        @include small-tablet-screen {
          font-size: 12px;
          max-width: 100%;
        }
      }
    }
  }
}
