.blog {
  background-color: #f5f5f5;

  .title {
    @include tablet-screen {
      @include font(30px, 600);
    }
  }

  .subtitle {
    @include tablet-screen {
      @include font(20px, 300);
    }
  }

  .articles-container {
    margin-top: 90px;

    @include tablet-screen {
      margin-top: 45px;
    }

    .article {
      display: grid;
      padding: 24px 0;
      grid-template-columns: 190px 1fr;
      column-gap: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
      cursor: pointer;
      max-width: 960px;

      @include tablet-screen {
        grid-template-columns: 100%;
        column-gap: 0;
        grid-row-gap: 20px;
      }

      &:last-child {
        border: none;
      }

      .title {
        @include font(24px, 600);
        letter-spacing: 1.35px;
        grid-column: 2;
        grid-row: 1;

        @include tablet-screen {
          @include font(20px, 600);
          grid-column: 1;
          grid-row: 2;
        }
      }

      .description {
        @include font(14px, 300);
        letter-spacing: 1.55px;
        color: rgba(0, 0, 0, .9);
        grid-column: 2;
        grid-row: 2;
        margin-top: 10px;

        @include tablet-screen {
          @include font(12px, 300);
          grid-column: 1;
          grid-row: 3;
        }
      }

      .date {
        @include font(10px, 600);
        letter-spacing: 1px;
        color: rgba(0, 0, 0, .5);
        margin-top: 14px;
        grid-column: 2;
        grid-row: 3;

        @include tablet-screen {
          grid-column: 1;
          grid-row: 4;
        }
      }

      .image {
        grid-column: 1;
        grid-row: 5 / 1;

        img {
          width: 100%;
          height: auto;
        }

        @include tablet-screen {
          grid-column: 1;
          grid-row: 1;
        }
      }
    }
  }

}
