.blog {
  background-color: #f5f5f5;

  .title {
    @include small-desktop-screen {
      font-size: 38px;
    }

    @include tablet-screen {
      font-size: 38px;
    }

    @include small-tablet-screen {
      @include font(30px, 600);
    }
  }

  .subtitle {
    margin-bottom: 90px;

    @include small-desktop-screen {
      font-size: 22px;
    }

    @include tablet-screen {
      font-size: 22px;
    }

    @include small-tablet-screen {
      @include font(20px, 300);
      margin-bottom: 45px;

    }
  }

  .posts-list {
    max-width: 960px;
    margin: 0 auto;

    @include small-desktop-screen {
      max-width: 780px;
    }

    @include tablet-screen {
      max-width: 600px;
    }
  }
}
