.blog-posts {
  .title {
    font-size: 40px;
    @include small-desktop-screen {
      font-size: 38px;
    }

    @include tablet-screen {
      font-size: 38px;
    }

    @include small-tablet-screen {
      @include font(30px, 600);
    }
  }

  .subtitle {
    font-size: 30px;
    line-height: 1.5;
    max-width: 560px;
    margin: 0 auto 90px;

    @include small-desktop-screen {
      font-size: 22px;
    }

    @include tablet-screen {
      font-size: 22px;
    }

    @include small-tablet-screen {
      @include font(20px, 300);
      margin-bottom: 45px;

    }
  }

  .posts-list {
    @include flex(column, center, center);
    max-width: 960px;
    margin: 0 auto;

    @include small-desktop-screen {
      max-width: 780px;
    }

    @include small-tablet-screen {
      padding: 0 20px;
    }
  }
}
