@import 'mixins';

.contact-us {
  background-color: black;
  padding: 120px 0 136px !important;

  .text-center {
    margin-bottom: 74px;
  }

  .form-wrapper {
    @include flex(column, flex-start, flex-start);
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;

    .input-wrapper {
      @include flex(row, space-between, flex-start);
      padding-bottom: 24px;

      #name-input {
        margin-right: 24px;
      }
    }

    input[type=text] {
      @include font(16px, 400);
      line-height: 24px;
      padding: 16px 20px;
      width: 468px;
      height: 56px;
      background-color: transparent;
      border: 1px solid rgba(122, 120, 120, 1);
      border-radius: 3px;
      color: white;
    }

    input[type=submit] {
      width: 220px;
      height: 60px;
      font-size: 16px;
      font-weight: 700;
      font-family: 'Roboto', Arial, sans-serif;
      background-color: #f5914f;
      border: 1px solid #f5914f;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }

    .file-wrapper {
      @include flex(row, center, center);
      padding: 12px 0;

      .file-label {
        @include font(16px, 600);
        line-height: 24px;
        background-color: transparent;
        padding: 8px 20px;
        border-radius: 3px;
        border: 1px solid rgba(122, 120, 120, 1);
        height: auto;
        cursor: pointer;
      }

      .text-helper{
        @include font(16px, 400);
        line-height: 24px;
        margin-left: 20px;
        color: rgba(130, 128, 128, 1);
      }

      .remove-btn {
        display: none;
        cursor: pointer;
        margin-left: 26px;
      }
    }

    #comment-input {
      @include font(16px, 400);
      font-family: 'Roboto', Arial, sans-serif;
      width: 960px;
      line-height: 24px;
      padding: 16px 20px;
      background-color: transparent;
      border: 1px solid rgba(122, 120, 120, 1);
      border-radius: 3px;
      color: white;
      resize: none;
    }

    .button-wrapper {
      margin: 0 auto;
    }
  }

  .error-block {
    @include flex(column, center, center);
    @include size(960px, 56px);
    display: none;
    background-color: #F95D51;
    margin: 0 auto;
    border-radius: 3px;
  }

  .additional-text {
    padding: 24px 0;
    text-align: center;
  }

  .success-block {
    @include flex(column, center, center);
    display: none;
    @include size(960px, 380px);
    border: 1px solid #7A7878;
    margin: 30px auto 0;
    position: relative;

    .success-icon {
      position: absolute;
      bottom: 87%;
    }

    .success-title {
      @include font(36px, 600);
      line-height: 54px;
    }

    .success-text {
      @include font(24px, 300);
      line-height: 36px;
      max-width: 640px;
      text-align: center;
    }

  }
}
