@import 'mixins';

.clients {
  background-color: white;

  .title {
    @include small-desktop-screen {
      font-size: 38px;
    }

    @include small-tablet-screen {
      font-size: 30px;
    }
  }

  .subtitle {
    @include font(24px, 300);
    line-height: 1.5;
    max-width: 560px;
    margin: 0 auto;

    @include small-desktop-screen {
      font-size: 22px;
    }

    @include small-tablet-screen {
      font-size: 20px;
    }
  }

  .cases-button {
    @include flex(column, center, center);
    margin: 60px auto 0;

    @include tablet-screen {
      width: 330px;
      margin-top: 30px;
    }

    @include mobile-screen {
      width: 100%;
    }
  }
}
