@import 'mixins';

.clients {
  background-color: white;

  .title {
    @include small-desktop-screen {
      font-size: 38px;
    }

    @include small-tablet-screen {
      font-size: 30px;
    }
  }

  .subtitle {
    @include small-desktop-screen {
      font-size: 22px;
    }

    @include small-tablet-screen {
      font-size: 20px;
    }
  }

  .clients-container {
    @include tablet-screen {
      @include flex(column, center, center);
    }

    .clients-block {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 10px));
      grid-column-gap: 20px;
      margin-top: 120px;
      align-items: center;

      @include tablet-screen {
        grid-template-columns: 100%;
        grid-column-gap: 0;
        grid-row-gap: 20px;
        margin-top: 80px;
      }

      &:nth-child(2n) {
        .title {
          grid-column: 1;
        }

        .description {
          grid-column: 1;

        }

        .image {
          grid-column: 2;

          @include tablet-screen {
            grid-column: 1;
          }

        }

        .button {
          grid-column: 1;
        }
      }

      .title {
        @include font(26px, 600);
        line-height: 1.23;
        grid-column: 2;

        @include small-desktop-screen {
          font-size: 24px;
        }

        @include tablet-screen {
          font-size: 24px;
          grid-column: 1;
        }

        @include small-tablet-screen {
          font-size: 22px;
          grid-column: 1;
        }
      }

      .description {
        @include font(18px, 300);
        line-height: 1.55;
        grid-column: 2;

        @include small-desktop-screen {
          font-size: 16px;
        }

        @include tablet-screen {
          font-size: 16px;
          grid-column: 1;
          max-width: 500px;
        }

        @include small-tablet-screen {
          font-size: 14px;
          grid-column: 1;
        }

      }

      .image {
        grid-column: 1;
        grid-row: 4 / 1;

        img {
          max-width: 100%;
        }

        @include tablet-screen {
          grid-row: 1;
        }
      }

      .button {
        grid-column: 2;
        width: 246px;

        @include tablet-screen {
          grid-column: 1;
        }

        @include small-tablet-screen {
          grid-column: 1;
          width: 186px;
        }
      }
    }
  }
}
