@import 'mixins';

.clients {
  background-color: white;

  .clients-container {

    .clients-block {
      display: grid;
      grid-template-columns: 560px 500px;
      grid-column-gap: 20px;
      margin-top: 120px;
      align-items: center;

      @include tablet-screen {
        grid-template-columns: 100%;
      }

      &:nth-child(n + 2):nth-child(-n + 2) {
        .title {
          grid-column: 1;
        }

        .description {
          grid-column: 1;

        }

        .image {
          grid-column: 2;

          @include tablet-screen {
            grid-column: 1;
          }

        }

        .button {
          grid-column: 1;
        }
      }

      .title {
        @include font(26px, 600);
        line-height: 1.23;
        grid-column: 2;

        @include tablet-screen {
          grid-column: 1;
        }
      }

      .description {
        @include font(18px, 300);
        line-height: 1.55;
        grid-column: 2;

        @include tablet-screen {
          grid-column: 1;
        }

      }

      .image {
        grid-column: 1;
        grid-row: 4 / 1;

        @include tablet-screen {
          grid-row: 1;
          img {
            max-width: 100%;
          }
        }

      }

      .button {
        @include size(246px, 60px);
        @include font(16px, 700);
        background-color: white;
        border: 1px solid #f5914f;
        border-radius: 5px;
        color: #f5914f;
        cursor: pointer;
        grid-column: 2;

        @include tablet-screen {
          grid-column: 1;
        }
      }
    }
  }
}
