@import 'mixins';

.services {
  background-color: #f5f5f5;

  .content-block {
    margin: 0 auto;
    text-align: center;

    .title {
      padding-bottom: 60px;

      @include small-desktop-screen {
        font-size: 38px;
      }

      @include tablet-screen {
        @include font(38px, 600);
        padding-bottom: 0;
      }

      @include small-tablet-screen {
        @include font(30px, 600);
        padding-bottom: 0;
      }
    }

    .services-container {
      @include flex(row, center, flex-start);

      @include tablet-screen {
        @include flex(column, center, center);
      }

      .service {
        @include flex(column, center, center);
        padding: 0 20px;
        margin: 0 20px;
        max-width: 560px;

        @include small-desktop-screen {
          max-width: 460px;
          margin: 0;
        }

        @include tablet-screen {
          max-width: 640px;
        }

        @include small-tablet-screen {
          width: 100%;
          padding: 0;
        }

        @include mobile-screen {
          padding: 0;
        }

        &:nth-child(n + 1):nth-child(-n + 1) {

          .service-description {
            @include tablet-screen {
              margin-bottom: 60px;
            }
          }
        }

        .icon-wrapper {
          .icon {
            @include size(90px, 90px);
          }
        }

        .service-title {
          @include font(30px, 600);
          line-height: 1.17;
          padding-bottom: 26px;
          margin: 0;

          @include small-desktop-screen {
            @include font(28px, 600);
            padding: 26px 0;
          }

          @include small-tablet-screen {
            @include font(24px, 600);
          }
        }

        .service-description {
          @include font(16px, 300);
          text-align: center;
          line-height: 1.55;

          @include small-desktop-screen {
            @include font(14px, 300);
            max-width: 420px;
          }

          @include tablet-screen {
            min-width: 560px;
          }

          @include small-tablet-screen {
            @include font(12px, 300);
            max-width: 100%;
            min-width: 0;
          }
        }
      }
    }
  }
}
