<section class="section services">
    {% assign prefix = site.imgPrefix %}
    <div class="content">
        <h1 class="title">Our services</h1>
        <div class="services-container">
            {% for item in site.data.services %}
            <div class="service">
                <div class="icon">
                    <img src="{{ prefix }}{{ item.icon }}">
                </div>
                <div class="service-title">{{ item.title }}</div>
                <div class="service-description">{{ item.description }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
