$orange: #f5914f;
$grey: #7A7878;
$formInputBorderRadius: 3px;
$width-mobile: 480px;
$width-tablet: 960px;
$width-small-tablet: 640px;
$width-small-desktop: 1200px;
$width-tablet-landscape: 1024px;

@mixin small-desktop-screen {
  @media screen and (max-width: $width-small-desktop) {
    @content;
  }
}

@mixin tablet-screen {
  @media screen and (max-width: $width-tablet) {
    @content;
  }
}

@mixin small-tablet-screen {
  @media screen and (max-width: $width-small-tablet) {
    @content;
  }
}

@mixin mobile-screen {
  @media screen and (max-width: $width-mobile) {
    @content;
  }
}

@mixin small-height-screen {
  @media screen and (max-height: 480px) {
    @content;
  }
}

@mixin tablet-landscape-screen {
  @media screen and (max-width: $width-tablet-landscape) {
    @content;
  }
}

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin flex($flex-direction: column, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}
