---
---
@import 'mixins';
@import "intro";
@import "about";
@import "advantages";
@import "services";
@import "how-it-works";
@import "partnership";

body {
  margin: 0;
  padding: 0;
}

.section {
  @include flex(column, center, center);
  padding: 142px 0;

  h1 {
    @include font(42px, 600);
    line-height: 1.23;
    color: black;
  }

  h2 {
    @include font(24px, 300);
    line-height: 1.5;
    color: black;
    max-width: 560px;
    padding: 0 0 80px;
  }

  &.section-dark {
    h1 {
      @include font(42px, 600);
      line-height: 1.23;
      color: white;

    }

    h2 {
      @include font(24px, 300);
      line-height: 1.5;
      color: white;
      max-width: 560px;
      padding: 0 0 80px;
    }
  }
}
