---
---
@import 'mixins';
@import "intro";
@import "about";
@import "advantages";
@import "services";
@import "how-it-works";
@import "partnership";

body {
  margin: 0;
  padding: 0;
  color: black;
}

.text-center {
  text-align: center;
}

.section {
  padding: 142px 0;

  h1 {
    @include font(42px, 600);
    line-height: 1.23;
  }

  h2 {
    @include font(24px, 300);
    line-height: 1.5;
    max-width: 560px;
    margin: 0 auto;
  }

  .content {
    margin: 0 auto;
    max-width: 1200px;
  }

  &.section-dark {
    color: white;

    h2 {
      max-width: 600px;
    }
  }
}
