.yoy {
  #image1 {
    height: 680px;

    @include small-desktop-screen {
      height: 100%;
      background-size: contain;
    }
  }

  #image2 {
    height: 638px;

    @include small-desktop-screen {
      height: 493px;
    }

    @include tablet-screen {
      background-size: contain;
    }
  }

  .player {
    width: 960px;
    height: 540px;

    @include tablet-screen {
      width: 100%;
    }
  }

  .logos-row.yoy-logos {
    justify-content: space-around;
  }

  .content-wrapper {
    @include tablet-screen {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
