@import 'mixins';

.about {
  background-color: white;

  .content-block {
    @include flex(row, center, flex-start);

    @include tablet-screen {
      @include flex(column, center, center);
      padding: 0 100px;
    }

    @include small-tablet-screen {
      padding: 0;
    }

    @include mobile-screen {
      padding: 0 40px;
    }

    .info {
      @include flex(column, center, flex-start);
      padding-right: 80px;

      @include tablet-screen {
        padding-bottom: 40px;
        padding-right: 0;
      }

      .title {
        @include font(42px, 700);
        line-height: 1.23;

        @include tablet-screen {
          @include font(30px, 700);
        }

        @include small-tablet-screen {
          font-size: 38px;
        }

        @include mobile-screen {
          font-size: 30px;
        }

      }

      .description {
        @include font(20px, 300);
        line-height: 1.55;
        text-align: left;
        padding-top: 24px;
        max-width: 450px;

        @include tablet-screen {
          @include font(16px, 300);
          max-width: 600px;
        }

        @include small-tablet-screen {
          font-size: 18px;
        }

        @include mobile-screen {
          font-size: 16px;
          max-width: 300px;
        }
      }
    }

    .collage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      padding-left: 16px;

      @include tablet-screen {
        padding-left: 0;
      }

      img {
        @include size(270px, 270px);

        @include tablet-screen {
          @include size(100%, auto);
        }

        @include mobile-screen {
          @include size(140px, 140px);
        }
      }
    }
  }
}
