@import 'mixins';

.how-it-works-section.section {
  background-color: white;

  @include small-tablet-screen {
    padding: 122px 0;
  }

  .content-block {

    .title {
      @include small-desktop-screen {
        @include font(38px, 600);
      }

      @include small-tablet-screen {
        @include font(30px, 600);
      }
    }

    .description {
      @include font(24px, 300);
      line-height: 1.5;
      max-width: 560px;
      margin: 0 auto;

      @include small-desktop-screen {
        @include font(22px, 300);
      }

      @include small-tablet-screen {
        @include font(20px, 300);
        padding: 0 20px;
      }
    }
  }

  .product-container {
    @include flex(row, center, flex-start);
    flex: 1 1 0;
    margin-top: 80px;

    @include tablet-screen {
      @include flex(column, center, center);
      margin-top: 20px;
    }

    .product-block {
      @include flex(column, center, center);
      padding: 0 24px;
      margin: 0 20px;
      width: 360px;

      @include small-desktop-screen {
        width: 300px;
        margin: 0 10px;
      }

      @include tablet-screen {
        width: 576px;
        padding: 44px 0;
      }

      @include small-tablet-screen {
        padding: 44px 20px;
        width: 100%;
        margin: 0;
      }

      &:nth-child(n + 2):nth-child(-n + 2) {
        border-left: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;

        @include tablet-screen {
          border-top: 1px solid #d1d1d1;
          border-bottom: 1px solid #d1d1d1;
          border-left: 0;
          border-right: 0;
        }
      }

      &:nth-child(n + 3):nth-child(-n + 3) {

        @include tablet-screen {
          padding-bottom: 0;
        }
      }

      .index {
        @include font(16px, 600);
        letter-spacing: 2.5px;
        padding-bottom: 16px;

        @include small-desktop-screen {
          @include font(14px, 600);
        }

        @include small-tablet-screen {
          @include font(12px, 600);
        }
      }

      .product-title {
        @include font(24px, 600);
        line-height: 1.35;
        padding-bottom: 20px;
        margin: 0;
        max-width: 100%;

        @include small-desktop-screen {
          @include font(22px, 600px);
        }

        @include small-tablet-screen {
          @include font(20px, 600);
        }
      }

      .product-description {
        @include font(18px, 300);
        text-align: center;
        line-height: 1.55;
        max-width: 310px;

        @include small-desktop-screen {
          @include font(16px, 300);
          max-width: 250px;
        }

        @include tablet-screen {
          max-width: 576px;
        }

        @include small-tablet-screen {
          @include font(14px, 300);
        }
      }
    }
  }
}
