.bom {

  .player {
    width: 960px;
    height: 540px;
    padding: 0 20px;

    @include tablet-screen {
      width: 100%;
    }

    @include small-tablet-screen {
      padding: 0;
    }

    @include mobile-screen {
      height: 270px;
    }
  }

  .content-wrapper {
    @include tablet-screen {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
