.careers {
  background-color: #f5f5f5;
  padding: 104px 0;

  @include small-tablet-screen {
    padding: 104px 20px;
  }

  @include tablet-screen {
    padding-top: 60px;
  }

  .careers-content {
    @include small-desktop-screen {
      max-width: 780px;
    }

    @include tablet-screen {
      max-width: 600px;
    }

    @include small-tablet-screen {
      max-width: 100%;
    }

    h1 {
      text-align: center;
      margin: 0 0 90px;
      font-size: 42px;

      @include small-tablet-screen {
        margin-bottom: 30px;
      }

      @include tablet-screen {
        font-size: 30px;
      }
    }

    .tags {
      @include flex(row, center, center);
      margin-bottom: 40px;
    }

    .tag-filter {
      @include font(16px, 400);
      border: 1px solid black;
      border-radius: 40px;
      cursor: pointer;
      margin: 0 10px 10px 0;
      padding: 6px 18px;
    }
  }
}
