.careers {
  background-color: #f5f5f5;
  padding: 135px 0;

  h1 {
    margin-bottom: 90px;
    text-align: center;
  }

  .tags {
    @include flex(row, center, center);
    margin-bottom: 40px;
  }

  .tag-filter {
    @include font(16px, 400);
    border: 1px solid black;
    border-radius: 40px;
    cursor: pointer;
    margin: 0 10px 10px 0;
    padding: 6px 18px;
  }
}